body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login_container {
    width: 500px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: rgb(33, 168, 185);
    color: white;
    border: none;
    margin-right: 10px;
  }
  
  button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  button:hover {
    opacity: 0.8;
  }